/* Para.css */


  
  /* Para.css */

/* src/components/ParaContainer/ParaContainer.css */

.para-container {
    padding: 12%;
  }
  
  .para-text {
    font-size: 1.4rem;
    line-height: 1.3;
    color: #333;
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  /* Media Queries */
  
  /* Large screens (desktops) */
  @media (max-width: 1200px) {
    .para-container {
      padding: 10%;
      /* margin-top: 3%; */
    }
  
    .para-text {
      font-size: 1.0rem;
      margin-top: 10%;
    }
  }
  
  /* Medium screens (tablets) */
  @media (max-width: 992px) {
    .para-container {
      padding: 8%;
      
    }
  
    .para-text {
      font-size: 1.1rem;
      /* margin-top: 24%; */
    }
  }
  
  /* Small screens (mobile landscape) */
  @media (max-width: 768px) {
    .para-container {
      padding: 4%;
    }
  
    .para-text {
      font-size: 1rem;
      /* margin-top: 1%; */

    }
  }
  
  /* Extra small screens (mobile portrait) */
  @media (max-width: 576px) {
    .para-container {
      padding: 5%;
     
      
    }
  
    .para-text {
      font-size: 0.9rem;
      margin-top: 1px;
    }
  }
  




